[Desktop Entry]
Type=Application
Exec=/home/r/VSCode-linux-x64/code --enable-features=UseOzonePlatform --ozone-platform=wayland
Name=VSCode
Icon=/home/r/VSCode-linux-x64/resources/app/resources/linux/code.png
Terminal=false
Categories=Development;
