[Desktop Entry]
Type=Application
#Exec="/home/r/VSCode-linux-x64/code" --disable-renderer-accessibility --disable-gpu %F
Exec="/home/r/VSCode-linux-x64/code" --disable-renderer-accessibility %F
Name=VSCode
Icon=/home/r/VSCode-linux-x64/resources/app/resources/linux/code.png
Terminal=false
Categories=Development;
