[Desktop Entry]
Type=Application
Exec="/home/r/VSCode-linux-x64/code" %F
Name=VSCode
Icon=/home/r/VSCode-linux-x64/resources/app/resources/linux/code.png
Terminal=false
Categories=Development;
